<!-- Footer UNAB Style -->
<footer class="footer-unab">
  <div class="container-fluid-px-5">
    <div class="row justify-content-around">
      <div class="col-md-3">
        <div class="footer-brand">
          <div class="unab-logo-footer">
            <div class="logo-emblem-footer">
              <img src="assets/iconos/logo_unab_nocolor.png" alt="Emblema Logo" class="emblem-image">
            </div>
            <div class="logo-text-footer">
              <h1>Universidad Andrés Bello</h1>
              <p>Mini-Marketplace Universitario</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Enlaces Rápidos</h5>
        <ul class="footer-links">
          <li><a routerLink="/catalogo">Catálogo</a></li>
          <li><a routerLink="/favoritos">Favoritos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contacto</h5>
        <ul class="footer-contact">
          <li><i class="fas fa-phone me-2"></i>+56 2 2661 8000</li>
          <li><i class="fas fa-envelope me-2"></i>info@unab.cl</li>
          <li><i class="fas fa-map-marker-alt me-2"></i>Santiago, Chile</li>
        </ul>
      </div>
    </div>
    <hr class="footer-divider">
    <div class="row">
      <div class="col-md-6 px-5">
        <p>&copy; 2025 Universidad Andrés Bello. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-end pe-5">
        <div class="footer-social">
          <a href="https://www.facebook.com/unab.cl/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://x.com/uandresbello" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/uandresbello" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://cl.linkedin.com/school/universidad-andres-bello/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
